@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    overflow-y: visible;
}

.body {
    background-image: linear-gradient( #fff,#e1cbff);
    flex-direction: column;
    min-height: 100vh;
}

a:visited,a{
    text-decoration: none;
    color: #984dff;
}

*{
    font-family: "Montserrat", "sans-serif";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#std-word{
    color: #984dff;
}

.logo span{
    text-align-last: justify;


}
li, a, button{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.logo{
    font-family: "montserrat";
    font-weight: bold;
    font-size: 30px;
    width: 20px;
    cursor:pointer;
    letter-spacing: 3px;
    margin-right: 100px;

}
#lib-word{
    letter-spacing:5.2px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
}

.nav_links{
    list-style: none;
    border:2px solid #f0f0f0;
    padding: 30px 25px;
    border-radius: 16px;
    box-shadow: 0 0 10px 5px #f0f0f0;

}
.nav_links li{
    display: inline-block;
    margin: 0px 40px;
    cursor:pointer;
    font-weight: 700;
    font-size: 16px;
}
.nav_links a{
    font-weight: 700;
}
#booksBtn{
    color: #b9b9b9;
}
#membersBtn{
    color: #b9b9b9;
}
#homeBtn{
    color: #984dff;
}



button{
    cursor:pointer;
}

.logout{
    background-color: rgba(152,77,255,1);
    color: white;
    border: none;
    padding: 10px 8px;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}
.logout:hover{
    background-color: rgba(72, 17, 148, 0.8);
}

.profile{
    color: #984dff;
    border:none;
    width: 40px;
    position: absolute;
    margin-left: 5px;

}
/*  =================================================================*/

.landing{
    text-align: center;
}

.landing p{
    width: 550px;
    margin: 0 auto;
    font-size: 40px;
    margin-top: 150px;
}

.landing span{
    font-size: 50px;
    color: #984dff;

}
.searchFormClass{
    text-align: center;}
#search_query{
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
    padding: 20px 350px 20px 25px;
    font-weight:500;
    border: 1px solid #cecece;
    border-radius: 7px;

}
#delete_query{
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
    padding: 20px 350px 20px 25px;
    font-weight:500;
    border: 1px solid #cecece;
    border-radius: 7px;

}
#search_query:focus,#delete_query:focus {
    outline-width: 0;
}

#searchBtn,#deleteBtn{
    padding: 19px 50px 19px;
    margin-left: 20px;
    font-size: 20px;
    border: 1px solid #cecece;
    border-radius: 7px;
    cursor: pointer;

    background: linear-gradient(to right, #984dff 50%, white 50%);
    background-size: 200% 100%;
    transition: all .5s ease-out;
    background-position: right bottom;
}
#searchBtn:hover,#deleteBtn:hover {
    background-position: left bottom;
    color: white;
  }
.sticky {
  position: sticky;
  top: 0;
  width:100%;
  padding-bottom: 10px;
}
.sticky + .content {
  padding-top: 10px;
}
/*////////////////////////////////////////////////////////////////*/
.cards{
    margin: 40px auto 0px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}
.card__image{
    margin-top: 10px;
    text-align: center;
    border-radius: 8px;
    max-width: 100%;
}
.card{
    width:290px;
    border: 3px solid #b9b9b9;
    border-radius: 10px;
    text-align: center;
}
.card__content{

    line-height: 1.5;
    margin-top: 5px;
    font-weight: 500;
    padding: 15px;
    text-align: center;
}
.card__link{
    margin-bottom: 10px;
    font-weight: bold;
}

.search-results-word{
    margin: 30px 200px;
    font-size: 24px;
    font-weight: bold;
}


/* =================================================================*/

#startRow{
    font-size:130%;
}
#membersTable {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
#membersTable th{
    padding-bottom: 20px ;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
}
#membersTable td{
    padding: 0 100px;
}
